#root {
  text-align: center;
  width: 80%;
  margin: auto;
  font-family: 'Nanum Gothic', sans-serif;
}

button, #submitButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(136, 136, 136);
  padding: 10px 15px;
  border-radius: 7px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover, #submitButton:hover{
background-color: rgb(136, 136, 136);
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');


/* .App {
text-align: center;
}

.App-logo {
height: 40vmin;
pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}

@keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
} */
